#counter {
  
  font-size: 100px;
  color: green;
  border: 3px;
  align-content: middle;
  text-align:middle;
  
}

#button {
  
  background: greenyellow;
  font-size: 25px;
  align-content: middle;
  
}
